
table{
  border: 4px solid black;
  height: 25rem;
  width: 60rem;
  margin-top: 80px;
  margin-left:250px;
}
td{
    border: 1px solid black; 
    text-align: center;
    background-color: aliceblue;
    font-size:x-large;
}
h1{
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
}
h2{
    text-align: center;
    background-color: rgb(80, 183, 209);
    color: rgb(3, 10, 18);
    font-size: xx-large;
}
 #Seminar{
    background-color: palevioletred;
    font-size: xx-large;
 }
 #day{
    background-color: rgb(43, 136, 218);
    font-size: xx-large;
 }
 #topic{
    background-color: teal;
 }
 #Schedule{
   background-color: brown;
   font-size:xx-large;
 }
 .bold{
    background-color: yellow;
    font-size: xx-large;
 }
 .two{
  background-color: rgb(41, 58, 63);
  font-size: larger;
  color: aliceblue;
 }
.five{
    background-color:slategrey;
    font-size: larger;
    color: aliceblue;
}
.eight{
    background-color: palevioletred;
    font-size: larger;
    color: aliceblue;
  
}
.eleven{
    background-color: rgb(106, 21, 54);
    font-size: larger;
    color: aliceblue;
}
.twelve{
    background-color: rgb(88, 56, 163);
    font-size: larger;
    color: aliceblue;
}

.box{
    background-color: aliceblue;
    color: aquamarine;
    font-size: 22px;
    text-align: center;
}

 @media only screen and (max-width:300px)
{
    #box1{
        background-color: black;
    }
}
